/*Add your CSS here*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

h1 {
font-family: Helvetica;
}

h1 {
color: darkseagreen;
}

h2 {
color: teal;
}

img {
width: 100vw;
  height: auto;
}

.caption {
  text-align: center;
  color: cadetblue;
  font-style: italic;
}


a:link{
  color: green;
    }
a:visited{
  color: powderblue;
}

a:hover{
  color: magenta;
  text-decoration: none;
}

a:active{
  color: salmon;
}

footer a:hover {
text-decoration: none;
}






/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
